@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/space-grotesk-v22-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/space-grotesk-v22-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/space-grotesk-v22-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/space-grotesk-v22-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/space-grotesk-v22-latin-700.woff2') format('woff2');
}
